# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=webhose_db

# Webhose.io API Configuration
WEBHOSE_API_TOKEN=3eb4d06f-315a-4481-b357-616444fc4e73
WEBHOSE_API_BASE_URL=https://webz.io/api